<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="true"
      internalLogToConsole="true"
      internalLogFile="${currentdir}/Logs/NLog.txt"
      internalLogLevel="Error">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<variable name="logFilePath" value="${currentdir}/Logs"/>
	<variable name ="MyDate" value ="${date:format=yyyy-MM-dd}"/>
	<variable name='commonJsonLayout'>
		<layout type='jsonLayout'>
			<attribute name="project" layout="PowerPlant" />
			<attribute name="Timestamp" layout="${longdate}" />
			<attribute name="request_id" layout="${aspnet-traceidentifier}" />
			<attribute name="environment" layout="${environment:ASPNETCORE_ENVIRONMENT}" />
			<attribute name="host_name" layout="${hostname}" />
			<attribute name="machine_name" layout="${machinename}" />
			<attribute name="request_method" layout="${aspnet-request-method}" />
			<attribute name="request_url" layout="${aspnet-request-url}" />
			<attribute name="query_params" layout="${aspnet-request-querystring}" />
			<attribute name="user_agent" layout="${aspnet-request-useragent}" />
			<attribute name="file" layout="${callsite-filename}" />
			<attribute name="line" layout="${callsite-linenumber}" />
			<attribute name="level" layout="${uppercase:${level}}" />
			<attribute name="logger" layout="${logger}" />
			<attribute name="message" layout="${message}" />
			<attribute name="source_path" layout="${callsite:includeSourcePath=true}" />
			<attribute name="exception" layout="${exception:format=tostring}" />
			<attribute name="stack_trace" layout="${stacktrace:format=Raw}" />
		</layout>
	</variable>

	<!-- the targets to write to -->
	<targets>

		<target xsi:type="File"
                name="allfile"
                fileName="${logFilePath}/Log_${level}.log"
                archiveFileName="${logFilePath}/Log_${level}.zip"
                archiveDateFormat="yyyy-MM-dd"
                archiveNumbering="Date"
                archiveEvery="Day"
                maxArchiveFiles="32"
                enableArchiveFileCompression="True">
			<layout type="compoundLayout">
				<layout type='${commonJsonLayout}' />
			</layout>
		</target>

		<target
			xsi:type="Console"
			name="console" >
			<layout type="compoundLayout">
				<layout type='${commonJsonLayout}' />
			</layout>
		</target>

	</targets>

	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<logger name="System.*" maxLevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="allfile, console" />
	</rules>

</nlog>
